user: "student"
group: "student"
make: "make"
os: "linux"
root: "/home/student/.opam"
prefix: "/home/student/.opam/system"
lib: "/home/student/.opam/system/lib"
bin: "/home/student/.opam/system/bin"
sbin: "/home/student/.opam/system/sbin"
doc: "/home/student/.opam/system/doc"
stublibs: "/home/student/.opam/system/lib/stublibs"
toplevel: "/home/student/.opam/system/lib/toplevel"
man: "/home/student/.opam/system/man"
share: "/home/student/.opam/system/share"
etc: "/home/student/.opam/system/etc"
